html {
  height: 100%; }
body {
  background-image: url("/img/bg.jpg");
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  background-color: #bda290;
  font-weight: 300; }
a {
  color: #76064C;
}
.my-primary {
  color: #999fa4;
  font-weight: bold;
}
.my-secondary {
  color: #76064C;
}
.my-normal {
  color: #bda290;
}
.my-cover {
  color: #665e5a;
}
.my-white {
  color: #aa9395;
}
.card {
  margin: 1rem;
  background-color: #302922;
  border: #302922;
  font-weight: 300;
  color: #bda290;
}
.btn {
  background-color: #D4B46A;
  color: #123752;
}
#cover {
  height: 100vh;
}
#bio-bg {
  background: #302922;
}
