body {
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  font-weight: 300; }
nav {
  background-color: rgba(153, 159, 164, 0.35);
}
a {
  color: #76064C;
}
.main {
  background-color: #bda290;
}
.my-primary {
  color: #999fa4;
}
.my-secondary {
  color: #76064C;
}
.my-normal {
  color: #bda290;
}
.my-cover {
  color: #665e5a;
}
.my-white {
  color: #aa9395;
}
