body {
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  font-weight: 300; }
.navbar.scrolled {
  background-color: rgba(153, 159, 164, 1)!important;
  transition: background-color 200ms linear;
}
a {
  color: #76064C;
}
a:visited {
  color: #76064C;
}
.main {
  background-color: rgba(189, 162, 144, 0.9);
}
.my-primary {
  color: #999fa4;
}
.my-secondary {
  color: #76064C;
}
.my-normal {
  color: #bda290;
}
.my-cover {
  color: #665e5a;
}
.my-white {
  color: #aa9395;
}
